div {
    margin:0;
    padding:0;
}

button {
    position:fixed;
    z-index:100;
    bottom: 2.4em;
    left: 75%;
}

body {
    margin:0px;
    background:black;
    overflow-y:hidden;
    overflow-x:hidden;
}

#board {
/*    width:1024px;
    height:768px;*/
    border: 2px #632 dashed;
}

/*viewport*/
.world {
    /*background:orange;*/
    width:1024px;
    height:768px;
    overflow:hidden;
    margin: 0 auto;
    background: black;
/*    background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px, -webkit-linear-gradient(-117deg, #151515 5px, transparent 5px) 10px 0px, -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px, -webkit-linear-gradient(-117deg, #222 5px, transparent 5px) 10px 5px, -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px), -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;*/
}


.tile,.chip {
    font-size: 33px;
    top:30%;
    left:30%;
}

.chip {
    background:white;
    border:2px solid #8483af;
    position:relative;
    -webkit-border-radius:5px;
            border-radius:5px;
    -webkit-box-shadow:0 0 .3em rgba(0,0,0,.8);
       -moz-box-shadow:0 0 .3em rgba(0,0,0,.8);
            box-shadow:0 0 .3em rgba(0,0,0,.8);
}

.tile {
    background:black;
    border:1px dotted  rgb(37, 37, 37);
    position:relative;
}

.home{
    background: gold;
    content:"H";
    font-size: 200px;
}

/*0 = empty
1 = double number score
2 = triple number score
3 = double equation score
4 = triple equation scores
5 = star

*/
.dbl_number, .tpl_number ,
.dbl_equation, .tpl_equation, .star, .empty{
    color:white;
/*background-color: #026873;*/
background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%), -webkit-linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%), -webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
/*background-color: #026873;*/
background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%), -webkit-linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%), -webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
}

.empty{
    background-color:white;
}
.dbl_number {
    background-color:yellow;
}
.tpl_number{
    background-color:pink;
}
.dbl_equation{
    background-color:turquoise;
}
.tpl_equation{
    background-color:red;
}
.star {
    background-color:gold;
}




.hovered {
    background:#1A1A1A;
    opacity: 0.5;
}

.validated {
    background:orange;
}

/*#viewport {
z-index:2;
background:transparent;
border:2px solid #8483af;
width:300px;
height:50%;
top:25%;
left:25%;
position:absolute;
pointer-events:none;
}*/

#rack {
    /*z-index:5;*/
    /*background:transparent;*/
    border:2px solid #8483af;
    width:auto;
    margin: 0 auto;
    height:auto;
    bottom:10%;
    /*left:25%;*/
    position:absolute;
}

<!-- Include he following conditional to get click-throughs to work with IE -->
<!--[if IE]>
body {
    -ms-overflow-y:hidden;
    -ms-overflow-x:hidden;
}

.sample {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='sample_600x600.png',sizingMethod='scale');
    background:none!important;
}


/*css tranforms*/

div.transform-h-x{
	-webkit-transform: matrix(1.42,0,0,0.71,0,0) rotate(45deg);
	-moz-transform: matrix(1.42,0,0,0.71,0,0) rotate(45deg);
}
div.transform-v-z{
	-webkit-transform: matrix(1,-0.5,0,1,0,0);
	-moz-transform: matrix(1,-0.5,0,1,0,0);
}
div.transform-v-x{
	-webkit-transform: matrix(1,0.5,0,1,0,0);
	-moz-transform: matrix(1,0.5,0,1,0,0);
}


.pattern {
    background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

.pattern2 {
    background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px, -webkit-linear-gradient(-117deg, #151515 5px, transparent 5px) 10px 0px, -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px, -webkit-linear-gradient(-117deg, #222 5px, transparent 5px) 10px 5px, -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px), -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.bluePrint{
    background-color: #269;
    background-image: -webkit-linear-gradient(white 2px, transparent 2px), -webkit-linear-gradient(0deg, white 2px, transparent 2px), -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/*RULES*/
/*.ruler, .ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}*/
/* IE6-7 Fix */
/*.ruler, .ruler li {
    *display: inline;
}
body{
  margin:0px;
}

.ruler {
  position:absolute;
   // background: lightYellow;
    opacity:0.8;
    box-shadow: 0 -1px 1em hsl(60, 60%, 84%) inset;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #ccc;
    margin: 0;
    height: 3em;
    padding-right: 1cm;
    white-space: nowrap;
    z-index: 20;


}*/
/*
.horizontal{
//  margin-top:-0.5cm;//-4.75em;
 // margin-left:-0.5cm;//1.6em;
}
*/
/*.vertical {
  position:absolute;
  margin-left:0.5cm;//1.6em;
  margin-top:-0.5cm;//-4.75em;
  -webkit-transform-origin:0%;
  -webkit-transform: rotate(90deg) ;
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.vertical li {
//  -webkit-transform: rotate(-90deg);
}

.vertical li:before {
   -webkit-transform: rotate(0deg);
}

.ruler li {
    padding-left: 1cm;
    width: 2em;
    margin: .64em -1em -.64em;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px hsl(60, 60%, 84%);

}
.ruler li:before {
    content: '';
    position: absolute;
    border-right: 1px solid #ccc;
    height: .64em;
    top: -.64em;
    right: 1em;

}

#config{
  height:auto;
  width:auto;
  margin-top:0px;
  position:absolute;
  top:1.5cm;
  left:1.5cm;
  z-index:20;

}


body {
    font: 12px Ubuntu, Arial, sans-serif;
}
*/