div {
margin:0;
padding:0;
}

button {
position:fixed;
z-index:100;
bottom: 2.4em;
left: 75%;
}

body {
margin:0px;
background:black;
overflow-y:hidden;
overflow-x:hidden;
}

#board {
background:black;
width:1024px;
height:768px;

/*top:0;
left:0;*/
}
/*viewport*/
.world {  
background:black;
width:1024px;
height:768px;
overflow:hidden;
}


.tile,.chip {
font-size: 33px;
top:30%;
left:30%;	
}

.chip {
background:white;
border:2px solid #8483af;
/*z-index:10;*/
position:relative;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:0 0 .3em rgba(0,0,0,.8);
-webkit-box-shadow:0 0 .3em rgba(0,0,0,.8);
box-shadow:0 0 .3em rgba(0,0,0,.8);
}

.tile {
/* background:#BADA55; */
background:black;
/*border:1px dotted #0D0D0D;*/
border:1px dotted  rgb(37, 37, 37);
/*z-index:0;*/
position:absolute;
}

.hovered {
background:#1A1A1A;
opacity: 0.5;
}

.validated {
background:orange;
}

/*#viewport {
z-index:2;
background:transparent;
border:2px solid #8483af;
width:300px;
height:50%;
top:25%;
left:25%;
position:absolute;
pointer-events:none;
}*/

#rack {
/*z-index:5;*/
/*background:transparent;*/
border:2px solid #8483af;
width:50%;
height:15%;
top:80%;
left:25%;
position:fixed;
}

<!-- Include he following conditional to get click-throughs to work with IE -->
<!--[if IE]>
<style type="text/css">
body {
-ms-overflow-y:hidden;
-ms-overflow-x:hidden;
}

.sample {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='sample_600x600.png',sizingMethod='scale');
background:none!important;
}


/*css tranforms*/

div.transform-h-x{
	-webkit-transform: matrix(1.42,0,0,0.71,0,0) rotate(45deg);
	-moz-transform: matrix(1.42,0,0,0.71,0,0) rotate(45deg);
}
div.transform-v-z{
	-webkit-transform: matrix(1,-0.5,0,1,0,0);
	-moz-transform: matrix(1,-0.5,0,1,0,0);
}
div.transform-v-x{
	-webkit-transform: matrix(1,0.5,0,1,0,0);
	-moz-transform: matrix(1,0.5,0,1,0,0);
}


/*RULES*/
.ruler, .ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
/* IE6-7 Fix */
.ruler, .ruler li {
    *display: inline;
}
body{
  margin:0px;
}

.ruler {
  position:absolute;
   // background: lightYellow;
    opacity:0.8;
    box-shadow: 0 -1px 1em hsl(60, 60%, 84%) inset;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #ccc;
    margin: 0;
    height: 3em;
    padding-right: 1cm;
    white-space: nowrap;
    z-index: 20;

 
}

.horizontal{
//  margin-top:-0.5cm;//-4.75em;
 // margin-left:-0.5cm;//1.6em;
}

.vertical {
  position:absolute;
  margin-left:0.5cm;//1.6em;
  margin-top:-0.5cm;//-4.75em;
  -webkit-transform-origin:0%;
  -webkit-transform: rotate(90deg) ;  
     -moz-transform: rotate(90deg); 
      -ms-transform: rotate(90deg); 
       -o-transform: rotate(90deg); 
          transform: rotate(90deg); 
} 

.vertical li {
//  -webkit-transform: rotate(-90deg); 
}

.vertical li:before {
   -webkit-transform: rotate(0deg);   
}

.ruler li {
    padding-left: 1cm;
    width: 2em;
    margin: .64em -1em -.64em;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px hsl(60, 60%, 84%);
   
}
.ruler li:before {
    content: '';
    position: absolute;
    border-right: 1px solid #ccc;
    height: .64em;
    top: -.64em;
    right: 1em;
   
}

#config{
  height:auto;
  width:auto;
  margin-top:0px;
  position:absolute;
  top:1.5cm;
  left:1.5cm;
  z-index:20;

}


body {
    font: 12px Ubuntu, Arial, sans-serif;
}
